{% extends 'base2.html' %}
{% block content %}
{% load static %}
<!-- barra de navegacion -->

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href=".">Sumaq<br> Mikhuy Wasi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="." class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="/nosotros" class="nav-link"data-scroll-to="#">Nosotros</a></li>
        <li class="nav-item"><a href="/menu" class="nav-link" data-scroll-to="#">Menu</a></li>
        <li class="nav-item"><a href="/contactanos" class="nav-link">Contactanos</a></li>
        {% if user.is_authenticated %}            
        <li class="nav-item"><a href="#" class="nav-link">Hola, {{user.first_name}}</a></li>
        {% else %}
        <li class="nav-item"><a href="accounts/register" class="nav-link">Registrarse</a></li>                 
        <li class="nav-item"><a href="accounts/id" class="nav-link">Entrar</a></li>            
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="accounts/logout" class="nav-link">Salir</a></li>
        <li class="nav-item"><a href="../../accounts/administrar" class="nav-link">Administrar</a></li>      
        {% endif%}
      </ul>
    </div>
  </div>
</nav>
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
  <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center mb-4">
              {% if user.is_staff %}
                <h1 class="mb-2 bread">Comandas</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="../">Comandas<i class="ion-ios-arrow-forward"></i></a></span> <span>Administrar Platos <i class="ion-ios-arrow-forward"></i></span></p>
              {% else %}
                <h1 class="mb-2 bread">Usted no es Administrador</h1>
              {% endif %}
            </div>
        </div>
    </div>
</section>

  <!-- formulario -->
    <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-0">
      <div class="row justify-content-center d-flex no-gutters">
            <div class="col-md-7 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
              <div class="py-md-5">
                <div class="heading-section ftco-animate mb-5">
                  <span class="subheading">.   Agregar</span>
                    <h2 class="mb-4">Comanda</h2>
                </div>
                {% block body %}
                <form enctype="multipart/form-data" action method="post" id="updatePlato" novalidate>
                  {% csrf_token %}
                    {{form.management_form}}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="">Numero de pedido:</label><br>
                              {{ form.numero_comanda }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="">Hora de pedido:</label><br>
                              {{ form.hora_marca }}
                            </div>
                        </div>                        
                        <div class="col-md-6">
                              <div class="form-group">
                                <label for="">Fecha de pedido:</label><br>
                              {{ form.fecha_hoy }}
                            </div>
                        </div>
                        <div class="col-md-6">
                              <div class="form-group">
                                <label for="">Numero de mesa:</label><br>
                              {{ form.numero_mesa }}
                            </div>
                        </div>                      
                        <div class="col-md-6">
                          <div class="form-group">
                              <label for="">Numero de Personas:</label><br>
                              {{ form.numero_comensales}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="">Personal:</label><br>
                              {{ form.id_camarero }}
                            </div>
                        </div>

                        <div  class="col-md-6">
                          <div class="form-group">
                              <label for="">Platos a pedir:</label><br>
                              <div id ="formPlatos">
                                {{form2.management_form}}
                                {% for f in form2 %}
                                <label id="name_plato">Plato:</label><br>
                                {{f.platos}}<br>
                                <label id=""cantidad>Cantidad:</label><br>
                                {{f.num_platos}}<br>
                                <p></p>
                                {% endfor %}
                                
                              </div>
                             <br>

                            </div>

                        </div>
                        <div id="formu1">
                          
                        </div>
                        
                       
                                                    
                        <div class="col-md-12 mt-3">
                          <button onclick="return addInput()" class="btn btn-primary ">Agregar plato</button>
                          <div class="form-group">
                            <br>
                              <a href="../" class="btn btn-primary py-3 px-5 mr-5">Cancelar edicion y volver</a>
                              <input type="submit" name="Grabar" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </div>
                </form>
                {% endblock%}
            </div>
          </div>
      </div>
    </div>
  </section>

  <script >
    function addInput(){

      // <input type="number" name="pedido_set-0-num_platos" value="0" id="id_pedido_set-0-num_platos">
      var forms=document.querySelector('#id_pedido_set-TOTAL_FORMS');
      var newselect=document.querySelector('#id_pedido_set-0-platos').cloneNode(true);
      newselect.name='pedido_set-'+forms.value+'-platos';
      newselect.id='id_pedido_set-'+forms.value+'-platos';
      var newinput=document.querySelector('#id_pedido_set-0-num_platos').cloneNode(true);
      newinput.name='pedido_set-'+forms.value+'-num_platos';
      newinput.id='id_pedido_set-'+forms.value+'-num_platos';
      var newinser=document.querySelector('name_plato')
      
      document.querySelector('#formPlatos').appendChild(newselect);
      document.querySelector('#formPlatos').appendChild(newinput);

      var p=document.createElement("p");
      document.querySelector('#formPlatos').appendChild(p);

      forms.value=parseInt(forms.value)+1;
      return false;
    }

  </script>


<!--   {% block scripts %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      console.log("Ready");
      var div_data="";

      fetchSubjects($(".plato").val());

      $(".plato").change(function(){
        fetchSubjects($(this).val());
      });

      $(".add_subject").click(function(){
        $(".subject-div").append(div_data);
      })


      function fetchSubjects(codigo){
        $.ajax({
          url:'http://127.0.0.1:8000/comandas/getFormato',
          type:'POST',
          data:{pedido_id:pedido_id}
        })
        .done(function(response){
          div_data="<select class='form-control'>"
          for (key in response){
            div_data+="<option value='"+response[key]['pk']+"'>"+response[key]['fields']['platos']+"</option>";
          }
          div_data+='</select></div>'
          console.log(div_data);
        })
        .fail(function(){
          console.log("Fallo")
        })
      }




    });
  </script>
  {% endblock %} -->

{% endblock%}



