{% extends 'base2.html' %}
{% block content %}
{% load static %}
{% static "images" as baseUrl %}
<!-- barra de navegacion -->

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
	    <a class="navbar-brand" href="index.html">Feliciano</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="oi oi-menu"></span> Menu
	    </button>
		<div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
            	<li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
            	<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            	{% if user.is_authenticated %}            
            		<li class="nav-item"><a href="#" class="nav-link">Hola, {{user.first_name}}</a></li>
            	{% else %}
            		<li class="nav-item"><a href="/accounts/login" class="nav-link">Login</a></li>            
            	{% endif %}
            	{% if user.is_authenticated %}
              		<li class="nav-item"><a href="/accounts/logout" class="nav-link">Logout</a></li>
              		{% if user.is_staff %}
                		<li class="nav-item"><a href="/accounts/administrar" class="nav-link">Administrar</a></li>
              		{% endif %} 
            	{% endif %}            
            <li class="nav-item cta"><a href="reservation.html" class="nav-link">Book a table</a></li>
	        </ul>
	    </div>
    </div>
</nav>
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
	<div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
        	<div class="col-md-9 ftco-animate text-center mb-4">
            	{% if user.is_staff %}
            		<h1 class="mb-2 bread">Platos</h1>
            		<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Platos <i class="ion-ios-arrow-forward"></i></a></span> <span>Administrar Platos <i class="ion-ios-arrow-forward"></i></span></p>
            	{% else %}
            		<h1 class="mb-2 bread">Usted no es Administrador</h1>
            	{% endif %}
          	</div>
        </div>
    </div>
</section>

<!-- formulario -->
<section class="ftco-section contact-section">
	<div class="container">
		<div class=" justify-content-center d-flex no-gutters">
	        <div class="col-md-7 order-md-last ftco-animate makereservation ">
		       	<div class="py-md-5">
			       	<div class="heading-section ftco-animate mb-4">
			         	<span class="subheading ml-4">Detalles</span>
			            <h2 class="mb-8">Platos</h2>
			        </div>
					<div class="form-group">
					    {% block body %}
						<label for="">RESERVA A NOBRE DE:</label>
						<br> {{ object.nombre }}, {{object.apellido}}<br>
						<label for="">CORREO DE CONFIRMACION:</label>
						<br> {{ object.correo }}<br>
						<label for="">TELEFONO:</label>
						<br> {{ object.telefono }}<br>
						<label for="">FECHA RESERVADA:</label>
						<br> {{ object.fecha }}<br>							
						<label for="">HORA DE RESERVA:</label>
						<br>{{object.hora }}<br>
						<label for="">MESA RESERVADA:</label>
						<br>Mesa Nº {{object.numero_mesa }}<br>						
						<label for="">NUMERO DE PERSONAS:</label>
						<br>{{object.numero_personas }}<br>
						{% if num_persona > 7 %}
						Se apartó la mesa grupal (incluye comisión extra).
						{% elif num_persona > 4 and num_persona <= 7 %}
						Se apartó la mesa mediana.
						{% else %}
						Se apartó la mesa pequeña.
						{% endif %}
			        </div>
			        <div class="col-md-12 mt-3">
			           	<div class="form-group"> 		
							<a href="modificar" class="btn btn-primary py-2 px-4 mr-4 mt-4">Editar</a>
							<a href="borrar/" class="btn btn-primary py-2 px-4 mr-4 mt-4">Eliminar</a>	
							<a href="../" class="btn btn-primary py-2 px-4 mr-4 mt-4">Regresar a Platos</a>
			           	</div>
			        </div>
			        {% endblock%}
			    </div>
		    </div>
		</div>
	</div>
</section>
{% endblock%}
	