{% extends 'base2.html' %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href=".">Sumaq<br> Mikhuy Wasi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="../" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="/nosotros" class="nav-link"data-scroll-to="#">Nosotros</a></li>
        <li class="nav-item active"><a href="/menu" class="nav-link" data-scroll-to="#">Menu</a></li>
        <li class="nav-item"><a href="./blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="/contactanos" class="nav-link">Contactanos</a></li>
        {% if user.is_authenticated %}            
        <li class="nav-item"><a href="#" class="nav-link">Hola, {{user.first_name}}</a></li>
        {% else %}
        <li class="nav-item"><a href="accounts/register" class="nav-link">Registrarse</a></li>                 
        <li class="nav-item"><a href="accounts/login" class="nav-link">Entrar</a></li>            
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="accounts/logout" class="nav-link">Salir</a></li>
        <li class="nav-item"><a href="accounts/administrar" class="nav-link">Administrar</a></li>      
        {% endif%}
        <li class="nav-item cta"><a href="#" class="nav-link">Reservar Mesa</a></li>            
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-4">
        <h1 class="mb-2 bread">Administracion</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="../">Inicio <i class="ion-ios-arrow-forward"></i></a></span> <span>Administrar <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-wrap-about" id="we">
  <div class="container">
    <div class="row">
      <div class="col-md-7 d-flex">
        <img src="{% static 'images/chef.jpg' %}" width="550px" height="350px">
      </div>
      <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
        <div class="heading-section mb-4 my-5 my-md-0">
          <span class="subheading">Administracion</span>
          <h2 class="mb-4">Restaurant</h2>
        </div>
        <h4>ADMINISTRE EL PERSONAL DE SU EMPRESA:</h4>
        <b>
          <li><a href="/persona/personal/"> PERSONAL DE TRABAJO</a></li>
          <li><a href="/persona/cliente/"> CLIENTE</a></li>
          <li><a href="/persona/proveedor/"> PROVEEDORES</a></li>
          <li><a href="../../../../" >VOLVER A LA PAGINA PRINCIPAL</a></li>
        </b>
        <h4>ADMINISTRE LOS PLATOS DE SU EMPRESA:</h4>
        <b><li><a href="../platos"> PLATOS</a></li></b>
        <b><li><a href="../comandas"> COMANDAS</a></li></b>
      </div>
    </div>
  </div>
</section>

{% endblock %}

